.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note{
    font-size: 15px;
    color: rebeccapurple;
}

body{
    background-size: cover;
}

.divSpeed{
    float: left;
}

.divSpeedImg{
    width: 200px;
    border-radius: 100px;
}

#speed{
    font-size: 23px;
    margin: 15px;
}

.divVolume{
    float: right;
}

.divVolumeImg{
    width: 200px;
    border-radius: 100px;
}

#volume{
    font-size: 23px;
    margin: 15px;
}

.play_button{
    width: 160px;
    font-size: 25px;
}

canvas{
    border: 5px solid honeydew;
    border-radius: 25px;
}